{% extends "blog/base.html" %}
{% load mathfilters %}
{% load social_share %}
{% block content %}
<div class=" container-fluid col-7 py-3 ">
  <!-- <article class="media content-section text-dark"> -->
    <img class="rounded-circle article-img" src="{{ eachpost.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a id="page_top" class="mr-2" href="#">{{ eachpost.author|upper }}</a>
        <small class="text-muted">{{ eachpost.date_posted}}</small>
        {% if eachpost.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' eachpost.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' eachpost.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <br>
      <!-- like -->

          <a href="#" onClick="document.getElementById('likebutton').submit()"><i class="fa fa-thumbs-up"> {{eachpost.likes}} </i></a> 
              |
          <a href="#" onClick="document.getElementById('dislikebutton').submit()"><i class="fa fa-thumbs-down"> {{eachpost.dislikes}} </i></a> 
      
          <a href="#"  onClick="document.getElementById('clapbutton').submit()"><i class="fa fa-hand-o-right"> {{eachpost.claps}} </i></a> 


          <form id="likebutton" method="POST" action="/post/{{eachpost.id}}/preference/1/">
          {% csrf_token %}
          <input type="hidden">
          </form>

          <form id="dislikebutton" method="POST" action="/post/{{eachpost.id}}/preference/2/">
          {% csrf_token %}
          <input type="hidden">
          </form>

          <form id="clapbutton" method="POST" action="/post/{{eachpost.id}}/preference/3/">
            {% csrf_token %}
            <input type="hidden">
          </form>
           <!-- like end -->
          <br>
      <h2 class="article-title">{{ eachpost.title }}</h2>
      <p class="article-content">{{ eachpost.content|safe }}</p>
      <br>
      <p class="article-content">{{ eachpost.content2|safe }}</p>
    </div>
  <!-- </article> -->
</div>  
           


{% endblock content %}