{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-12  offset-md-4 col-md-4    p-3 mb-2 custom_form text-white" style="   background-color:#b3003b;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            {% include "./logo.html" %}
            <div class="form-group">
                <button class="btn btn-default btn-block " type="submit" style="color:#b3003b;"><b>Request Password Reset</b></button>
            </div>
        </form>
    </div>
{% endblock content %}