{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="alert alert-success">
        Your password has been set.
    </div>
 
    <div class="col-12  offset-md-4  col-md-4        text-white p-3 mb-2"
    style="   background-color:#b3003b;text-align: center;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4  ">Password successfully reset</legend>
            </fieldset>
            <p>Your password has been set. You can login now.</p>
            
            <img   class="d-inline-block " src="{% static 'blog/logo16.png' %}" width="300" height="300">

        </form>
        <div class="border-top pt-3 text-white" style="text-align: center;">
            <small class="text-muted ">
                <p class="text-white">Logged in as <a class="ml-2 text-white" href="{% url 'login' %}"><b>{{user|upper}}</b></a> </p>
            </small>
        </div>
    </div>
{% endblock content %}